services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "${QDRANT_PORT}:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT}:8000"
    env_file:
      - .env
    depends_on:
      - qdrant
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - "${FRONTEND_PORT}:1234"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - backend