# Web Server
fastapi
uvicorn
python-multipart
python-dotenv
httpx

# Database & RAG
alembic
sqlalchemy
psycopg2-binary
asyncpg
pgvector
python-docx
docx2txt

# AI & Embeddings
langchain
langchain-huggingface
langchain-text-splitters
langchain-experimental
langchain-community
sentence-transformers
transformers

matplotlib
seaborn
scikit-learn